*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
    text-align: center;
    position: sticky;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2%;
}
button{
    height: 20vmin;
    width: 20vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 1px 1px 1px black;
    background-color: rosybrown;
    font-size:4rem;
    color: red;
}
button:active{
    height: 98%;
    width: 98%;
}#reset-btn{
    width: 20vmin;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(80, 76, 74);
    color: antiquewhite;
    font-size: 1.5rem;
    box-shadow: 0px 2px 2px black;
    margin-top: 5vmin;
    /* position: relative;
    top: 300px;
    right: 285px; */
}
.reset-bt{
    height: 100px;
}
#reset-btn:active{
    height: 45px;
}
.msg-container{
    color: beige;
    font-size: 2.5rem;
    height: 100vmin;
    /* margin-bottom: 80vmin; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* margin-top: 40vmin; */
}
#nGame{
    width: 20vmin;
    height: 70%;
    border-radius: 5px;
    background-color: rgb(80, 76, 74);
    color: antiquewhite;
    font-size: 1.5rem;
    box-shadow: 0px 2px 2px black;
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    /* position:relative; */

    /* position: relative;
    top: 300px;
    right: 285px; */
}
/* #nGame:active{
    height: ;

} */
.hide{
    display: none;
}
